@import "variables.less";
footer {
  background-image: url("../assets/bg-tile.png");
  background-repeat: repeat;
  border-top: @border;
  > div {
    .row {
      padding: 2em;
      a,
      span {
        margin: 0 1em;
      }
      a i {
        margin-right: 4px;
      }
    }
  }
}
